.about{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1% 0;
}
.core{
    background-color: rgb(56, 56, 137);
    color: #ffffff;
    justify-content: left;
    text-align: left;
    padding: 4% 10%;
}
.core h3{
    padding-left: 5px;
    color: yellow;
    font-size: 40px;
}
.values{
    display: flex;
    margin: 2% 0;
}
.contnt{
    width: 200px;
    margin-right:5%;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.contnt img{
    width: 90px;
    margin-bottom: 10%;
}

.aboutdetail{
    justify-content: center;
    text-align: left;
    margin: 1% 15%;
}



@media only screen and (max-width: 768px) {
    .values {
        display: block;
    }
}