.about{
    background-color: rgb(56, 56, 137);
    color: #ffffff;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1% 8%;
}
.core{
    justify-content: left;
    text-align: left;
    margin: 4% 2%;
}
.values{
    display: flex;
    margin: 2% 0;
}
.contnt{
    width: 200px;
    margin-right:5%;
    justify-content: center;
    align-items: center;
    text-align: left;
}