.con-head{
    justify-content: center;
    text-align: center;
    font-size: xx-large;
    background-color: rgb(56, 56, 137);
    color: white;
    padding: 5%;
    background-image: url(https://thumbs.gfycat.com/ZanyGrimGodwit-max-1mb.gif);
    background-blend-mode: screen;
}
.con-head h1{
    text-shadow: 8px 8px 16px rgba(0, 0, 0, 1);
}
.connect{
    justify-content: center;
    display: flex;
    margin: 5% 5%;
}
.con-para{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    max-width: 500px;
    font-size: 25px;
    color: white;
    background-color: rgb(56, 56, 137);
    padding: 3%;
}


.con-form input{
    width: 45%;
    height: 40px;
    margin-bottom: 5%;
    margin-right: 5%;
    border: none;
  border-bottom: 2px solid black;
}
.con-form select{
    width: 95%;
    height: 40px;
    margin-bottom: 5%;
    border: none;
  border-bottom: 2px solid black;
}
.con-form textarea{
    width: 95%;
    height: 90px;
    border: none;
  border-bottom: 2px solid black;
}
.con-form button{
    width: 40%;
    height: 40px;
    border-width: 2px;
    font-size: large;
    background-color: rgb(166, 165, 164);
    font-weight: bold;
}




@media only screen and (max-width: 768px){
    .connect{
        justify-content: center;
        display: block;
        margin-top: 5%;
        padding: 0 5%;
    }
}