.first{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 10%;
}

.Headline{
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 10px 50px;
}
.Headline h1{
    font-size: 50px;
}
.Headline p{
    font-size: 21px;
}
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.second{
    background-color: rgb(56, 56, 137);
    color: aliceblue;
    justify-content: center;
    text-align: center;
    padding: 3% 0;
}
.second h1{
    color: yellow;
    font-size: 60px;
    font-family: fantasy;
    margin-bottom: 0;
}
.second p{
    color: yellow;
    font-size: small;
}
.what{
    margin: 3%;
    display: flex;
    justify-content: center;
    text-align: center;
    /* background-color: rgb(110, 110, 110); */
}

.srvcblock{
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 25%;
    margin: 0 2% ;
    margin-top: 2%;
}
.srvcblock:hover{
    box-shadow: 10px 10px 5px lightblue;
    transform: scale(1.1)
}
.srvcblock img{
    width: 100%;
    max-width: 300px;
    max-height: 140px;
    border: 2px solid rgb(118, 117, 117);
}

.srvcblock h5{
    margin-top: 5%;
    color: rgb(174, 171, 171);
    font-weight: bold;
}
.srvcblock p{
    color: white;
}



@media only screen and (max-width: 768px){
    .first{
        display: block;
    }
    .Headline img{
        width: 100%;
        margin: 0;
    }
    .what{
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .srvcblock{
        width: 90%;
        margin: 5%;
    }
    .srvcblock:hover{
        box-shadow: none;
        transition: none;
    }
    .srvcblock img{
        width: 100%;
        margin-top: 5%
    };
}